@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.textGradient {
    background: -webkit-linear-gradient(-45deg, #47e100, #0365b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient1 {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    position: absolute;
    filter: blur(200px);
    background: rgba(255, 0, 247, 0.221);
    top: 30%;
    right: 0;
}
span {
    background: -webkit-linear-gradient(-45deg, #47e100, #0365b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@layer base {
    .desc {
        @apply dark:text-darkText2 text-whiteText2 text-base;
    }
    .btn-primary {
        @apply bg-[#00bd29] hover:bg-[#008f45] text-whiteText duration-500 px-6  py-2 rounded-[22px]  text-base font-medium;
    }
    .sub-head {
        @apply text-2xl text-whiteText dark:text-darkText;
    }
    .heading {
        @apply md:text-5xl text-3xl text-center  pb-1  font-medium text-whiteText dark:text-darkText;
    }
    .text-normal {
        @apply dark:text-darkText2 text-whiteText2;
    }
    .text-head {
        @apply dark:text-darkText text-whiteText;
    }
}
